<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532247717709-2j06ggn6hdsthp289igpg1s6eepg0rl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532247717709-2j06ggn6hdsthp289igpg1s6eepg0rl2</string>
	<key>API_KEY</key>
	<string>AIzaSyDCiMqn5px3NbB3tt4VPAb4bG27967z7P0</string>
	<key>GCM_SENDER_ID</key>
	<string>532247717709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trial</string>
	<key>PROJECT_ID</key>
	<string>flut-trial</string>
	<key>STORAGE_BUCKET</key>
	<string>flut-trial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532247717709:ios:b31fd43dde053c71393904</string>
</dict>
</plist>